.App {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(141, 190, 186);
}

.Home {
  margin: 20px;

}

.Temperature {
  height: 200px;
  width: 200px;
  background-color: rgb(231, 235, 235);
}

.Humidity {
  height: 200px;
  width: 200px;
  background-color: rgb(231, 235, 235);
}
